<h1>Stores</h1>
<div class="stores">
  <app-store
  *ngFor="let store of stores" [store]="store"
  (storeSelected)="onStoreSelected($event)">
  </app-store>
</div>

<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <nz-form-item>
  <nz-form-label>Store Number</nz-form-label>
  <input nz-input formControlName="id" />
</nz-form-item>

<nz-form-item>
  <nz-form-label>Name</nz-form-label>
  <input nz-input formControlName="name" />
</nz-form-item>

<nz-form-item *ngIf="showLastNameControl">
  <nz-form-label>Last Name</nz-form-label>
  <input nz-input formControlName="lastName" />
</nz-form-item>

<nz-form-item>
  <nz-form-label>Status</nz-form-label>
  <input nz-input formControlName="status" />
</nz-form-item>

<button nz-button nzType="primary" [disabled]="form.invalid">Create Store</button>
</form>

